*.py[o|c|d]
*.swp
*.pem

# a good place to put your virtualenv
env/

# node and our front end builds
# build/
node_modules
web/dist

# default dev datastore
data.db
*.db

#OS X noise
.DS_Store

# credentials
keys.py

# environment variables
.env
.env.local
.env.production

# whatever vscode is doing
.vscode

# local QA artifacts
qa.log
qa_check.py